@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  ;
}