@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

html {
  scroll-behavior: smooth;
  font-family: Consolas, "Courier New", monospace;;
}